.home {
  width: 200px;
  background-color: #aaa;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  text-align: center;
  align-items: center;
  left: 680px;
  color: white;
  top: 40px;
}

.ons {
  text-align: center;
  font-size: 24px;
}

.home:hover {
  background-color: #c1c1c1;
  color: #818181;
}
