* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ////////////////////////////////////////  */

.container {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.container a:hover {
  background-color: rgb(0, 162, 255);
  transition: 0.3s;
}

/* ////////////////////////////////////////  */

header {
  background-color: #434343;
}

header ul {
  display: flex;
  list-style: none;
}

header a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

header a:hover {
  background-color: rgb(38, 148, 207);
}

/* ////////////////////////////////////////  */

header .secondary-menu {
  display: none;
  position: absolute;
  background-color: rgb(38, 148, 207);
}

header .main-menu:hover > .secondary-menu {
  display: block;
}

header .secondary-menu .main-menu:hover > .secondary-menu {
  top: 50%;
  left: 100%;
}

header .main-menu:hover > a {
  background-color: rgb(46, 162, 225);
}

header .secondary-menu a:hover {
  background-color: rgb(46, 162, 225);
}

/* ////////////////////////////////////////  */
