* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

/* First Section */

.container {
  background-color: #f3f5f6;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 20px;
}

.container-main {
  max-width: 1180px;
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
}

.first-part {
  display: flex;
  flex-grow: 1;
}

.text {
  max-width: 310px;
  padding-top: 48px;
  z-index: 2;
}

.text .title {
  width: 390px;
  font-size: 32px;
  line-height: 38.4px;
  font-family: "Inter-Bold";
  padding-bottom: 32px;
}

.text .creator {
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter-Regular";
  padding-bottom: 8px;
}

.text .job {
  color: #3c3c43d9;
  font-size: 14px;
  line-height: 16.8px;
  font-family: "Inter-Medium";
}

.image .man {
  max-width: 100%;
  display: flex;
  position: relative;
}

.img {
  display: flex;
}

.second-part {
  /* max-width: 732px; */
  position: relative;
}

.confident {
  position: absolute;
  left: -243px;
}

.brutal {
  position: absolute;
  margin-left: 72px;
}

.play {
  position: relative;
  left: 333px;
  top: 132px;
  cursor: pointer;
}

.arrowleft {
  position: relative;
  top: 305px;
  left: -69px;
  background-color: #f3f5f6;
  padding: 45.9px 40px;
  cursor: pointer;
}

.arrowright {
  position: relative;
  top: 305px;
  left: -40px;
  background-color: #f3f5f6;
  padding: 45.9px 40px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Second Section */

.hidden {
  display: none;
}

/* Third Section */
