* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 500px;
  height: 300px;
}

.img {
  margin: 10px 13px;
}

.homecl {
  width: 200px;
  background-color: #aaa;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  text-align: center;
  align-items: center;
  left: 680px;
  color: white;
  top: 40px;
}

.homecl:hover {
  background-color: #c1c1c1;
  color: #818181;
}
