@use "variable" as *;
@use "mainsettings" as *;

@mixin smalltext {
  font-family: $regular;
  color: $colorsmall;
  line-height: 26.25px;
}

@mixin center {
  display: flex;
  justify-content: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
}

// $regular: "Roboto-Regular";
// $medium: "Roboto-Medium";
// $colorsmall: #727272;

body {
  max-width: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  background-color: #eeeff1;
  nav {
    padding-top: 4.938rem;
    font-size: 1rem;
    max-width: 646px;
    letter-spacing: 1px;
    padding-bottom: 9.438rem;
    @include between;
    line-height: 1.641rem;
    text-transform: uppercase;
    .homepage {
      font-family: $medium;
    }
    .about,
    .works,
    .process,
    .contacts {
      font-family: $regular;
    }
    .homepage:hover,
    .about:hover,
    .works:hover,
    .process:hover,
    .contacts:hover {
      cursor: pointer;
      color: #34547a;
    }
  }
  .main-header {
    padding-bottom: 8.813rem;
    .title {
      padding-bottom: 3.75rem;
      font-family: $medium;
      font-size: 3rem;
      line-height: 78.75px;
    }
    .description {
      max-width: 540px;
      padding-bottom: 4.063rem;
      @include smalltext;
    }
    .btn {
      background-color: #34547a;
      max-width: 225px;
      padding: 20px 0;
      color: #ffffff;
      font-family: $regular;
      line-height: 26.25px;
      @include center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .btn:hover {
      cursor: pointer;
      color: #cccccc;
      transition: 0.3s;
    }
  }
}

.main {
  max-width: 100%;
  .section-about {
    .container {
      padding-top: 7rem;
      padding-bottom: 6.25rem;
    }
    .main-title {
      font-family: $medium;
      @include center;
      font-size: 2rem;
      line-height: 37.5px;
      padding-bottom: 50px;
    }
    .small-text {
      @include smalltext;
      max-width: 530px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .project {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    background-color: #34547a;

    .container {
      @include between;
      flex-direction: row;
    }

    .card {
      display: flex;

      .main-text {
        color: white;
        padding-left: 20px;
        padding-top: 2px;
        font-size: 21px;
        .number {
          font-family: $medium;
        }
        .text {
          font-family: $regular;
        }
      }
    }
  }
  .video-section {
    padding-bottom: 100px;
    .video-text {
      display: flex;
      flex-direction: column;

      .video-title {
        font-family: $medium;
        line-height: 37.5px;
        font-size: 32px;
        @include center;

        padding-top: 6.25rem;
        padding-bottom: 3.125rem;
      }
      .video-description {
        @include smalltext;
        max-width: 540px;
        padding-bottom: 3.563rem;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.footer {
  background-color: #34547a;
  color: white;
  .footer-text {
    padding: 3.125rem 0;
  }
  .footer-title {
    font-family: $medium;
    font-size: 1.313rem;
    line-height: 24.61px;
    padding-bottom: 1.25rem;
  }
  .footer-text1 {
    font-family: $regular;
    line-height: 21.33px;
    font-size: 0.813rem;
  }
}

.hidden {
  display: none;
}

@media (max-width: $xl) {
  .container {
    max-width: 910px;
  }
  .video-section {
    .container {
      padding-bottom: 100px;
      .video {
        height: 500px;
      }
    }
  }
}
@media (max-width: $lg) {
  .container {
    max-width: 700px;
  }
  .project {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .card {
      width: calc(33.33% - 20px);
      margin: 10px;
    }
  }
}

@media (max-width: $md) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: $sm) {
  .container {
    max-width: 400px;
  }
  .header {
    .container {
      nav {
        max-width: 250px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .project {
    .container {
      display: flex;
    }
    .card {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }
}

@media (max-width: 440px) {
  .container {
    max-width: 300px;
  }
}
